.Footer {
  margin-top: 5%;
  bottom: 0;
  width: 100%;
  height: 3.5em;
  background-color: #F76902;
}

.footer-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.footer-content span {
  font-weight: bold;
  margin-left: 5em;
}
