.reserve-main {
  display: flex;
  flex-direction: row;
  overflow-x: visible;
  height: 100%;
  min-height: 750px;
  padding: 0px;
  margin: 0px;
  min-height: 100vh;
}

.left-side-reserve {
  flex-grow: 2;
  padding: 0px;
  margin: 0px;
}


.middle-reserve{
  flex-grow: 10;
  width: 80%;
  max-height: 750px;
  padding: 0px;
  margin: 0px;
}

.right-side-reserve{
  flex-grow: 3;
}
